<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="howell.net" type="Howell.Net.NetworkDevice.Common.NetworkDeviceProviderFactoriesConfigurationHandler, Howell.Net"/>
  </configSections>
  <howell.net>
    <NetworkDeviceProviderFactories>
      <clear/>
      <add name="Howell 8000 Provider" invariant="Howell8000" description=".Net Framework Network Device Provider for Howell8000" type="Howell.Net.Howell8000.NetworkDevice.Common.Howell8000ProviderFactory, Howell.Net.Howell8000"/>
      <add name="Howell 5198 Provider" invariant="Howell5198" description=".Net Framework Network Device Provider for Howell5198" type="Howell.Net.Howell5198.NetworkDevice.Common.Howell5198ProviderFactory, Howell.Net.Howell5198"/>
    </NetworkDeviceProviderFactories>
  </howell.net>
  <appSettings>
    <add key="AllDevices" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>